<div class="row">
    <div class="col s6 offset-s3">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"><%= article.user.nickname %>さん</span>
          <p><%= article.text %></p>
        </div>
        <div class="card-action">
          <% if user_signed_in? && current_user.id == article.user_id %>
            <div class="useicon">
              <%= link_to edit_article_path(article), class: "btn-floating btn-small waves-effect waves-light green" do %>
                <i class="large material-icons">edit</i>
              <% end %>
              <p class="arrow_box">EDIT</p>
            </div>
            <div class="useicon">
              <%= link_to "/articles/#{article.id}", method: :DELETE, class: "btn-floating btn-small waves-effect waves-light red" do %>
                <i class="large material-icons">delete</i>
              <% end %>
              <p class="arrow_box">DELETE</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
