<div class="row">
  <div class="col s6 offset-s3">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title"><%= article.user.nickname %>さん</span>
        <p><%= article.text %></p>
      </div>
      <div class="card-action">
        <% if user_signed_in? && current_user.id == article.user_id %>
          <div id="hukidasi">
            <%= link_to edit_article_path(article), class: "btn-floating btn-small waves-effect waves-light green", title: "EDIT" do %>
              <i class="large material-icons">edit</i>
            <% end %>
          </div>
            <%= link_to "/articles/#{article.id}", method: :DELETE, class: "btn-floating btn-small waves-effect waves-light red" do %>
              <i class="large material-icons">delete</i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
